
* {
    margin: 0;
    padding: 0;
    }
    
    body {
    background-color: blue;
    }
    
    .mainDiv {
    height: 600px;
    width: 600px;
    background-color: purple;
    margin: 0 auto;
    }
    
    .mainDiv > div {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0 auto;
    }
    
    .red {
    background-color: red;
    position: relative;
    animation-name: animation1;
    animation-duration: 3s;
    }
    
    @keyframes animation1 {
    0% {top: -300px;}
    100% {top: 0px;}
    }
    
    .yellow {
    background-color: yellow;
    
    transition-property: transform;
    transition-duration: 3s;
    }
    
    .yellow:hover {
    transform: rotateY(180deg);
    }
    
    .green {
    background-color: green;
    animation-name: animation2;
    animation-duration: 3s;
    }
    
    @keyframes animation2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 